.pin-input {
    border: 2px solid rgba(128, 117, 117, 0.17);
    width: 100%;
    margin-top: 10px;

}

.pin-input:focus {
    background-color: rgba(0, 0, 0, 0.584);
}

#container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#forgot-card {
    background-color: white;
    border: 2px solid rgba(132, 131, 131, 0.171);
    width: 400px;
    text-align: center;
    border-radius: 20px;
}

#forgot-card>img {
    width: 150px;
    margin-bottom: -32px;
    border: 2px solid red;
    background-color: #000;
}

#forgot-card>div {
    margin: auto;
    width: 300px;
    padding: 10px;
    text-align: left;
    margin-bottom: 30px;
}

#forgot-card>div>form {
    width: 100%;
}

#forgot-card>div>form>input {
    width: 98%;
    padding: 10px;
    margin: 5px;
    border-color: rgba(155, 155, 160, 0.085);
    border-radius: 5px;
    border: 1px solid rgba(164, 164, 164, 0.236);

}

#forgot-card>div>form>input:focus {
    border: none;
    background: #000000ad;
    color: white;
}

#forgot-card>div>form>button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    text-transform: uppercase;
    /* background-color: #8c52ff;
     */
    background-color: #000;

    color: white;

}

#forgot-card>div>form>button:hover {
    background-color: #000000bc;
}

form~a {
    text-align: end;
    color: rgba(0, 0, 0, 0.384);
    text-decoration: none;
}

#forgot-card+div {
    text-align: right;
    width: 90%;
}